.page-nav {
  text-align: center;
  font-size: 16px;
  margin: 14px 0;
  width: 100%;
  position: relative;
}
.page-nav .extend {
  color: #fff;
  transition: color 2s ease;
}
.page-nav .extend:hover {
  color: #ee1289;
  text-decoration: none;
}
.page-nav .prev {
  position: absolute;
  left: 0;
}
.page-nav .next {
  position: absolute;
  right: 0;
}
.page-nav .page-number {
  display: inline-block;
  width: 23px;
  color: #fff;
  transition: color 0.5s ease;
}
.page-nav .page-number:hover {
  color: #ee1289;
  text-decoration: none;
}
.page-nav .current {
  color: #ee1289;
}
.post-nav {
  font-size: 16px;
}
.post-nav .post-nav-next {
  float: left;
}
.post-nav .post-nav-next a {
  color: #fff;
  transition: color 0.5s ease;
}
.post-nav .post-nav-next a:hover {
  color: #ee1289;
  text-decoration: none;
}
.post-nav .post-nav-prev {
  float: right;
}
.post-nav .post-nav-prev a {
  color: #fff;
  transition: color 0.5s ease;
}
.post-nav .post-nav-prev a:hover {
  color: #ee1289;
  text-decoration: none;
}
