.post {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.post img {
  max-width: 100%;
}
.post .post-title {
  font-size: 1.5em;
  border-bottom: 2px dashed #ffc0cb;
  margin-bottom: 10px;
}
.post .post-title h2.title {
  display: block;
  font-weight: bold;
  color: #ee1289;
  text-shadow: #efefef 1px 1px, #fff0f5 3px 3px;
  text-decoration: none;
  font-size: 34px;
  margin: 10px 0;
  border-bottom: 0;
}
.post .post-title p {
  border-radius: 3px;
  color: #fff;
  padding: 3px 10px;
  display: inline-block;
  background-color: #22c3aa;
}
.post .post-meta {
  position: relative;
}
.post .post-meta .post-time {
  position: absolute;
  right: 0;
  top: -40;
  color: #337ab7;
}
.posts {
  margin-top: 6em;
}
.posts .post {
  position: relative;
  line-height: 2 !important;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-title {
  font-size: 1.5em;
  border-bottom: 2px dashed #ffc0cb;
  margin-bottom: 20px;
}
.posts .post-title .post-title-link {
  display: inline-block;
  font-weight: bold;
  color: #ee1289;
  text-shadow: #efefef 1px 1px, #fff0f5 3px 3px;
  text-decoration: none;
  font-size: 26px;
  margin: 10px 0 0;
}
.posts .post-title .post-title-link i {
  font-size: 16px;
}
.posts .post-title .post-category {
  font-size: 14px;
}
.posts .post-title .post-tags p {
  border-radius: 3px;
  color: #fff;
  padding: 0 10px;
  display: inline-block;
  background-color: #22c3aa;
  margin-bottom: 10px;
}
.posts .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-content p img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
  height: auto;
  padding: 20px 0;
}
.posts .post-content .video-container {
  width: 90%;
  height: 45%;
  margin: auto;
  margin-bottom: 20px;
}
.posts .post-content .video-container iframe {
  width: 100%;
  height: 100%;
}
.posts .post-content .post-gallery {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}
.posts .post-content .post-gallery .post-gallery-img {
  display: table-cell;
  vertical-align: middle;
  border: none;
}
.posts .post-content .fancybox {
  width: 33.333%;
}
.posts .post-content .fancybox img {
  margin: 0 auto 25px;
  box-sizing: border-box;
  padding: 3px;
}
.posts .post-meta {
  width: 180px;
  height: 40px;
  content: " ";
  margin-left: -90px;
  border: 1px solid rgba(200,200,200,0.8);
  background: rgba(254,254,254,0.6);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  position: absolute;
  left: 50%;
  top: -20px;
  color: #bababa;
}
.posts .post-meta .post-time {
  position: absolute;
  transform: rotate(10deg);
  color: #ee2830;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -46px;
  font-size: 16px;
}
@media (max-width: 480px) {
  .posts {
    margin-top: 10em;
  }
  .posts .post-title .post-title-link {
    font-size: 24px;
  }
  .posts .post .post-content h2 {
    font-size: 23px !important;
  }
  .posts .post .post-content h3 {
    font-size: 18px !important;
  }
  .posts .post .post-content p img {
    width: 100%;
    width: 100%;
  }
  .post {
    padding: 30px 10px;
  }
  .post table td {
    padding: 0;
  }
}
